# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/
DerivedData/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# Android
android/.gradle/
android/app/build/

# IDE
.idea/
.vscode/*
!.vscode/launch.json

# Logs
*.log

# Misc
.DS_Store
