name: vibe
description: Invite-based real-time messaging application built with Flutter & WebSockets.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  # ---------- Architecture ----------
  get_it: ^7.7.0
  equatable: ^2.0.5

  # ---------- Navigation / Deep links ----------
  go_router: ^14.0.0

  # ---------- Networking ----------
  dio: ^5.4.0
  pretty_dio_logger: ^1.4.0
  connectivity_plus: ^6.0.3

  # ---------- Secure storage ----------
  flutter_secure_storage: ^9.2.2

  # ---------- State management (we add now to avoid refactor later) ----------
  flutter_bloc: ^8.1.4
  uuid: ^4.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/fonts/

  fonts:
    - family: Inter
      fonts:
        - asset: assets/fonts/Inter-Regular.ttf
          weight: 400
        - asset: assets/fonts/Inter-Medium.ttf
          weight: 500
        - asset: assets/fonts/Inter-SemiBold.ttf
          weight: 600
        - asset: assets/fonts/Inter-Bold.ttf
          weight: 700
